{% load static %}
<header>
{% block title %}
<link rel="icon" type="image/png" href="{% static '/static/images/landing-page.png' %}">
<title>Momo| #1 notes app</title>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
{% endblock title %}
    </header>

    <head>
        <nav>
           <h3>Mo<span>mo</span></h3>
            <ul>
                <li> <a href=""> About</a></li>
                    <li> <a href=""> Contact</a></li>
                        <li> <a href=""> <span>Login<box-icon name='log-in-circle'></box-icon></span></a></li>
            </ul>
        </nav>
    

</head>

<body>
  {% block content %}
  {% endblock content %}
</body>

{% block footer %}
<footer>
  <div class="footer">
    <div class="about">
  <h2>  Mo<span>mo</span></h2>
  <p>Momo is a platform that allows users to share their  knowledge and opinion with the world</p>

    </div>
    <div class="quick-links">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="#"> About</a> </li>
        <li><a href="#"> FAQS </a> </li>
        <li><a href="#"> company </a> </li>
        <li><a href="#"> Careers</a> </li>

      </ul>

    </div> 
   
    <div class="socials">
      <h2>Socials</h2>
      <ul>
        <li><a href="#"><box-icon name='twitter' type='logo' ></box-icon> </a></li>
        <li><a href="#"><box-icon name='instagram' type='logo' ></box-icon> </a></li>
        <li><a href="#"> <box-icon name='facebook' type='logo' ></box-icon></a></li>
        <li><a href="#"> <box-icon name='youtube' type='logo' ></box-icon></a></li>

      </ul>
    </div>
  </div>
  </footer>

{% endblock footer %}