{% extends "base.html" %}
{% load static %}
{% block content %}
<div class ="hero-section">
    <div class ="content">
        <h3>Welcome to Momo,Share, Learn, and Grow with Public Notes!!</h3>
            <p>Capture your thoughts, share your insights, and explore notes from a community of curious minds. 
                With Momo, you can create and publish notes that inspire, educate, and connect. Access your ideas anytime, anywhere, and discover new perspectives from users around the globe.
                Start sharing your knowledge today and be part of a growing community that values learning and collaboration.</p>
           <a href="create"> <button>Create Notes</button></a>

    </div>
    <div class="img">
        <img src="{% static 'images/rb_1070.png' %}" alt="note illustration">
    </div>
</div>
{% endblock content %}